@import "~bootstrap-icons/font/bootstrap-icons.css";

@import "~venobox/dist/venobox.css";

@import "bw_variables";

$carousel-control-color: $primary;

@import "~bootstrap/scss/bootstrap";
@import "bootswatch";

.post-detail-img{
    height: 300px;
    width: 300px;
    object-fit: contain;
}
